.date {
  width: 40px;
  height: 40px;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik';
  font-size: 18px;
  color: #8f8f8f;
  cursor: pointer;
}

.date:hover {
  border-radius: 50%;
  background-color: #606060;
  color: #fff;
}
.week-row .curruent_date {
  border-radius: 50%;
  background-color: #ff6633;
  color: #fff;
}
